!!! 1.1
%head
  %meta{:"http-equiv"=>"Content-Type", :content=>"text/html;charset=UTF-8"}
  %title= CONFIG["title"]
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}
  %script{:type=>"text/javascript", :src=>"/js/jquery.js"}
  %script{:type=>"text/javascript", :src=>"/js/jquery.simplemodal.js"}

%html
  %body
    #wrap
      #header
        %h1
          %a{:href => '/'} Logr

      #contents
        = yield

      #footer
